.App {
  text-align: center;
  margin: auto;
}

#header {
  height: 100px;
  background-color: cyan;
  border: 2px solid pink;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

h1 {
  margin: 0;
  padding-left: 250px;
  padding-right: 250px;
  border: 4px dashed purple;
}

.unicorns {
  max-width: 500px;
  margin: 5px;
  margin-left: 20px;
}
